@import '../../assets/utils/vars';
@import '../../assets/utils/mixins';

.category {
  width: 100%;
  max-width: 640px;
  padding: 12px 20px;

  border: 2px solid $c-coal-1;
  border-radius: $b-radius;
  background: $c-coal-5;

  @include flex-between;
}

.categoryName {
  width: max-content;
  font-size: $fs-12;

  @include pad {

    font-size: $fs-16;
  }
}

.actionBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-width: 121px;
  gap: 20px;
}

.iconBtn {
  cursor: pointer;

  @include flex-center;
}

.disabled {
  color: $c-gray-2;
}

.grab {
  cursor: grab;
}