.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

.categorySection {
  max-width: 640px;
  width: 100%;
  margin: 40px 0;
}