//colors
$c-primary: #7653FC;
$c-black: #000;
$c-coal: #3B434E;
$c-white: #fff;
$c-red: #FC836D;
$c-green: #1DC37E;
$c-green-light: #C8F8E4;

$shadow-white: 3px 3px 8px $c-white;

//fonts
$fs-40: 2.5rem;
$fs-20: 1.25rem;
$fs-16: 1rem;

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

//transition
$transition-time: 0.3s;