@import '../../assets/utils/vars';
@import '../../assets/utils/mixins';

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  height: 76px;

  border-bottom: 1px solid $c-coal-4;
  background: $c-black-1;
}

.headerWrapper {
  position: relative;

  height: 76px;

  cursor: pointer;

  border-bottom: 1px solid $c-coal-4;

  @include flex-between;
}

.logoWrapper {
  gap: 10px;

  @include flex-center;
}

.title {
  font-size: $fs-32;
  font-weight: $fw-700;
}